.main-wrapper-pass {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.container-pass {
    background-color: #ddd;
    padding: 30px;
}
.pass-input-wrap {
    display: flex;
    margin-bottom: 10px;
}
.pass-condition-wrap {
    display: flex;
}